<div> <strong> A few words about this app </strong></div>
<p>This web application aims to provide some tools that we would be useful in data processing for kino game of OPAP (Greek lottery). Data are being retrieved live from OPAP REST API points. Basic usage is that you can enter the specific time frame of the dates that you want to calculate data for and then the values will be ordered due to occurences. Also you can select the number of draws to be used in the selected time frame.</p>
<p>Further more, graphs that are displaying the number of occurences of each number are generated. Finally, you can watch live results of kino game live. The results are being refreshed every 1 minute. More information about OPAP Web services can be found in the next link.</p>
<p><a href="https://www.opap.gr/en/web-services">https://www.opap.gr/en/web-services</a></p>

