<!--The content below is only a placeholder and can be replaced.-->
<h2> {{title}} </h2>
  <ngx-spinner
  bdOpacity = 0.9
  bdColor = "#333"
  size = "large"
  color = "#fff"
  type = "timer"
  ></ngx-spinner>
  <tabs (currentTabChange)="manageTabs($event)">
    <tab tabTitle="Home" active="true">
      <div *ngIf="apiData$ || Object.keys(apiData$) | async as d_">

      <dateSelector> </dateSelector>

      <dailymax 
        [dailyMaximumOccurences]="dailyMaximumOccurences$">
      </dailymax>

      <doughnut 
        [doughnutChartData]="doughnutChartData"
        [doughnutChartLabels]="doughnutChartLabels"
        [doughnutChartType]="doughnutChartType"
        [doughnutChartLegend]="doughnutChartLegend">
      </doughnut>

      <polar 
        [polarAreaChartData]="polarAreaChartData"
        [polarAreaChartLabels]="polarAreaChartLabels"
        [polarAreaChartType]="polarAreaChartType"
        [polarAreaLegend]="polarAreaLegend">
      </polar>

      <radar 
        [radarChartLabels]="radarChartLabels"
        [radarChartData]="radarChartData"
        [radarAreaLegend]="radarAreaLegend"
        [radarChartType]="radarChartType">
      </radar>

      </div>
    </tab>
    <tab tabTitle="Keno Live">
      <liveDraws [todaysResult]="todaysResult$"> </liveDraws>
    </tab>
    <!-- <tab tabTitle="Forecasting">
      forecasting
    </tab> -->
    <tab tabTitle="About">
      Info
    </tab>
    <tab tabTitle="Contact">
      Contact
    </tab>
  </tabs>
  