* {
  font-family: Verdana, Geneva, sans-serif;
}

body {
  background-color: #464a59;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.title {
  text-align: center;
  color: #fff;
}

.wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(10, 50px); //50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 15px;
  color: #444;
  justify-items: center;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    grid-template-columns: repeat(5, 50px); //50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  }
  tabs, wrapper {
    min-width:350px;
    width: 70%;
    overflow-x:scroll;
  }
  .tabs-panel {
    width: 70%;
  }

  .button {
    margin-top: 15px;
  }

  .numberContainer {
    width: 75%;
  }

  .box {
    font-size: 75%;
    padding: 15px;
  }
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  // font-size: 100%;
}

.winning {
  background-color: #cba051;
}

.kino_bonus {
  background-color: #c50e0e;
}

.twelve {
  background-color: #464A45;
}


/* Style inputs */
input{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.button {
  background-color: #464A45;
  border: none;
  color: white;
  padding: 8px 16px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}