<!--The content below is only a placeholder and can be replaced.-->
<h2> {{title}} </h2>
  <ngx-spinner
  bdOpacity = 0.9
  bdColor = "#333"
  size = "large"
  color = "#fff"
  type = "ball-clip-rotate"
  ></ngx-spinner>
  <tabs (currentTabChange)="manageTabs($event)">
    <tab tabTitle="Home" active="true">
      <div *ngIf="apiData$ | async as d_">
      <!--
        <div *ngFor="let dd of d_; let rowIndex1 = index">
          <div *ngFor="let ddd of dd; let rowIndex = index">
            <h2> ******** Draw Index {{ ((rowIndex1 + 1 ) * rowIndex) + 1 }} *****</h2>
            <h3> Draw Number: {{ ddd.drawNo }} </h3>
            <h3> DrawTime: {{ ddd.drawTime }} </h3>
            <h3> Results: {{ ddd.results }} </h3>
           </div>   
        </div> -->

      <dateSelector> </dateSelector>

      <dailymax 
        [dailyMaximumOccurences]="dailyMaximumOccurences$">
      </dailymax>

      <doughnut 
        [doughnutChartData]="doughnutChartData"
        [doughnutChartLabels]="doughnutChartLabels"
        [doughnutChartType]="doughnutChartType"
        [doughnutChartLegend]="doughnutChartLegend">
      </doughnut>

      <polar 
        [polarAreaChartData]="polarAreaChartData"
        [polarAreaChartLabels]="polarAreaChartLabels"
        [polarAreaChartType]="polarAreaChartType"
        [polarAreaLegend]="polarAreaLegend">
      </polar>

      <radar 
        [radarChartLabels]="radarChartLabels"
        [radarChartData]="radarChartData"
        [radarAreaLegend]="radarAreaLegend"
        [radarChartType]="radarChartType">
      </radar>

      </div>
    </tab>
    <tab tabTitle="Keno Live">
      <liveDraws [todaysResult]="todaysResult$"> </liveDraws>
    </tab>
    <tab tabTitle="Forecasting">
      forecasting
    </tab>
    <tab tabTitle="About">
      Info
    </tab>
    <tab tabTitle="Contact">
      Contact
    </tab>
  </tabs>
  