table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(10, 50px); //50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 10px;
  color: #444;
  justify-items: center;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}

.winning {
  background-color: #cba051;
}